#mainnav
{
    background-color: black;
    height: 50px;
    width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 40px;

}
a,#home
{
    
     display: inline-block;     /* Required for width/height to apply */
  width: 120px;
  height: 25px;
  line-height: 50px;         /* Vertically center text */
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: black;
  font-size: 20px;
  border-radius: 9px;
  gap: 20px;
  line-height: 100%;
}

#firstdiv
{
   width: 100%px;
    height: 500px;
    border: 2px solid black;
    overflow: hidden;
    
}
img
{
    width: 100%;     
        height: 100%;     
    object-fit: cover;
}
#firsth1
{
    text-align: center;
}

#firstp
{
    text-align: center;
    color:#7B779E;
}

#secondiv
{
    height: 350px;
   /* width: 1905px; */
   width: 100%;
    justify-content: center;
    padding: 12px;
    gap: 20px;
    margin: 20px;
    display: flex;
}
.mainfood
{
    height: 300px;
    width: 300px;

}

#secnav
{
    background-color: rgb(159, 170, 159);
    text-align: center;
    padding: 80px;
    display: flex;
}

/* .behindtext
{
   position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: red;
  z-index: 0; /* Behind the image */

  #footernav
  {
    background-color: #1B1B1B;
    color: white;
    height: 200px;
    width: 100%;
    text-align: center;
    padding: 20px;

  }
  /* nav a{
    text-align: right;
  } */


  /* a:hover
  {
    font-size: medium;
    color: black;
    background-color: white;
    
    width: 200px;
    border-radius: 20px;
  } */

  a:hover
  {
      color: black;
  background-color: white;
  border: 1px solid black;
  /* padding: 10px; */
        border: 4px solid black;

  }

  #home
  {
    background-color: white;
    color: black;
  }

  img:hover
  {
    transform: scale(1);
    box-shadow: 10px 15px 15px black;
  }

  figcaption
  {
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-display: initial;
    font-size: 20px;
    align-items: center;
    align-content: center;
  }

 

  iframe
  {
    margin-left: 650px;
  }

  #logo
  {
    float: left;
    height: 50px;
    width: 50px;
    margin-left: 40px;
    padding-left: 30px;
    padding-right: 30px;
  }